# Modify the hosts below to match
SetEnvIf HOST "^stage.fertecon.agra-net.com" staging_url

Order Allow,Deny

AuthName "Restricted Stage Access"
AuthType Basic
AuthUserFile /srv/www/fertecon.agra-net.com/.htpasswd
Require valid-user

Allow from all
Deny from env=staging_url
Satisfy any

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress